:root{
  --mainBlack: #000000;
  --sky: #d0e1f9;
  --carbon: rgb(169, 169, 169);
  --neutral: rgb(239, 239, 239);
  --mainBlue: #0f4c81;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background:  #ff3b3f;
}

h1{
  font-family: 'Roboto Slab', serif;
}

/* ===================== Home ===================== */
/* Home Page Banner */

.banner-main-header{
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
}

.banner-sub-header{
  font-size: 2.5rem;
  color: white;
  text-transform: capitalize;
}

/* Project Section */
.home-project{
  justify-content: center;
  width: 100vw;
  background: var(--mainBlue) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-header{
  font-size: 3rem !important;
  color: var(--mainBlack);
}

/* About Section */
.home-about{
  width: 100vw;
  align-items: center;
  background: #FFFF !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}